<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
  <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
  <title>Minor Web Development - Real Time Web</title>
  <script>
    const userAdress = "<%= userData.street %>" + " " + "<%= userData.number %>" + " " + " <%= userData.city %>"
    const userId = "<%=userData._id%>"
    const userRole = "<%=userData.role%>"
    const userName = "<%=userData.firstName%>"
  </script>
  <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
  <header>
    <a href="/logout.html">Log out</a>
  </header>

  <div class="htmlcontent">







    <section id="intromaps">
      <h1>
        Hi
        <%= userData.firstName %>,
      </h1>
      <!-- <img src="/img/leaf.png"> -->

      <h2>
        <% if  (userData.role == 'helper') { %>
          Fijn dat je een handje wil helpen! Kijk op de kaart of er gebruikers in de buurt wonen die wel wat hulp kunnen gebruiken.
          <% } else { %>
            Goed dat je om hulp vraagt! Kijk op de kaart of er gebruikers in de buurt wonen die je een handje zouden kunnen helpen.
            <% } %>
      </h2>
    </section>
    <!-- <p>
            <%= userData.firstName %>
          </p> -->

    <div id="map" style="width: 640px; height: 480px" id="map"></div>

    <div id="room-container">
      <h3>Chatberichten</h3>
    </div>

  </div>

  <script src="/socket.io/socket.io.js" "></script>
            <script src="https://code.jquery.com/jquery-1.11.1.js "></script>
          <script src="js/here.js ">
          </script>

  </body>
  <%- include ('partials/footer.ejs') %>